aiofiles==25.1.0
birdnetlib==0.18.0
earthengine_api==1.5.1
fastapi==0.120.0
geopandas==1.0.1
librosa==0.11.0
matplotlib==3.10.7
numpy==2.3.4
pandas==2.3.3
psutil==6.1.0
pydantic==2.12.3
Requests==2.32.5
scipy==1.16.2
seaborn==0.13.2
Shapely==2.1.2
soundfile==0.13.1
tensorflow==2.18.0
