#close-spot-details {
  padding: 0rem 0.55em;
  border: none;
  background: rgb(0, 255, 110);
  border-radius: 0.5rem;
}

#spot-coordinates {
  font-size: 1rem;
}

#spot-details-menu {
  position: fixed;
  top: 0;
  right: -20rem;
  overflow-y: auto;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
  /* overflow-y: auto; */
}


.spot-entry img {
  max-width: 100%;
  max-height: 500px ;
}

#add-more-button{
  font-size: 1rem;
    width: 6rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(0, 255, 110);
    cursor: pointer;
}