
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Darken background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
}

.popup-content input,
.popup-content textarea {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 2px solid rgb(155, 155, 155);
  font-size: 1rem;
}

.custom-upload {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 110);
  color: black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.custom-upload:hover {
  background-color: rgb(0, 201, 87);
}

.custom-upload.recording:hover {
  background-color: rgb(201, 0, 0);
}

.custom-upload.selected {
  background-color: rgb(0, 123, 255); /* blue */
  color: white;
}

.camera-icon {
  width: 1.3rem;
  height: 1.3rem;
  /* margin-bottom: 0.6rem;
  margin-left: 0.4rem; */
  vertical-align: middle;
}


.popup-content button {
  margin-right: 10px;
}

.recording {
  background-color: red;
  color: white;
}

.media-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.8rem ;
  margin-bottom: 1.3rem ;
}

.audio-player {
  flex: 1; /* Takes up remaining space */
  max-width: 100%;
}

.popup-btn{
  font-size: 1rem;
  width: 5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(0, 255, 110);
  cursor: pointer;
}

#spot-details-menu.open {
  right: 0;
}

#close-spot-details {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.spot-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#status {
  margin-top: 1rem;
  font-size: 1rem;
  color: rgb(205, 159, 50);
}

#spot-details-menu img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 8px;
}

#spot-details-menu audio {
  width: 100%;
  margin-top: 8px;
}

.popup-content,
.modal-content, 
.import-popup-content { 
  max-height: 90vh; 
  overflow-y: auto;   
}
